<div class="shopping-wrap-desk">
    <!-- Support Ukraine -->
    <div class="shopping-wrap">
        <h1 class="shopping-title">Shopping <span class="shopping-title-span">List</span></h1>
        <div class="shopping-wrap-none">
            <p class="shopping-text">This page is empty, add some books and proceed to order.</p>
            <picture>
                <source media="(min-width: 768px)" srcset="
                            ./img/books.png 1x,
                            ./img/books-2x.png 2x" width="322" height="241" />
                <img srcset="./img/books-2x.png 2x" src="./img/books.png" alt="books" width="265"
                    height="198" />
            </picture>
        </div>
    </div>
</div>