<div class="backdrop" data-first-modal>
  <div class="container-modal">
    <button type="button" class="modal-close" data-first-modal-close>
      <!-- <svg class="modal-soc-icon">
        <use xlink:href="/src/img/icons.svg#icon-modal-close-mini"></use>
      </svg> -->
      <svg
        class="modal-soc-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
      >
        <path
          d="M18 6L6 18M6 6L18 18"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <div class="book-data"></div>
  </div>
</div>
