<section class="support">
  <div class="support-container">
    <h2 class="support-title">
      Support Ukraine
      <svg class="support-icon-gerb">
        <use href="./img/icons.svg#icon-gerb"></use>
      </svg>
    </h2>
    <div class="scroll-wrapper">
      <ol class="support-list"></ol>
    </div>
    <button class="support-btn support-btn-down" type="button">
      <svg class="support-btn-icon support-btn-icon-down">
        <use href="./img/icons.svg#icon-scroll-down"></use>
      </svg>
      <svg class="support-btn-icon support-btn-icon-up">
        <use href="./img/icons.svg#icon-scroll-up"></use>
      </svg>
    </button>
  </div>
</section>
