.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.books-title {
  color: var(--current-link-color);
  line-height: 1.18;
  font-size: 32px;
  letter-spacing: -1.28px;
}

.last-word {
  color: #4f2ee8;
}

.books-category-name {
  margin-top: 40px;
  margin-bottom: 18px;
  color: #b4afaf;
  font-size: 14px;
  line-height: 1.285;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.img-wrapper {
  position: relative;
  width: 335px;
  height: 485px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 14px;
}

.book-img {
  width: 100%;
  height: 100%;
}

.quick-view-box {
  display: none;
}

.book-title {
  margin-bottom: 4px;
  color: var(--current-link-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.book-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  line-height: 1.166;
  letter-spacing: -0.48px;
}

.see-more-btn {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 0;
  padding: 14px 28px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  background-color: transparent;
  color: var(--current-link-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.285;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

.top-books-category-list li:nth-last-child(-n + 4) {
  display: none;
}

.books-category-list .book-card {
  margin-top: 40px;
}
