.categories__container {
  height: 228px;
  overflow: scroll;
}

.categories__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.categories__link {
  color: rgba(17, 17, 17, 0.6);
  font-size: 16px;
  line-height: 1.125; /* 112.5% */
  letter-spacing: -0.32px;
}
