.categories__container {
  height: 228px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-y: scroll;
}

.categories__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.categories__link {
  color: rgba(17, 17, 17, 0.6);
  font-size: 16px;
  line-height: 1.125; /* 112.5% */
  letter-spacing: -0.32px;
}

.current-category {
  color: #4f2ee8;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .categories__container {
    height: 472px;
    max-width: 337px;
    margin: 0;
    padding: 0 20px 0 32px;
  }

  .categories__list {
    gap: 32px;
  }

  .categories__link {
    font-size: 18px;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.36px;
  }
}
@media screen and (min-width: 1440px) {
  .categories__container {
    width: 356px;
    padding-left: 24px;
  }
}

/* Стилізація скроллбару */

.categories__container::-webkit-scrollbar {
  width: 8px; /* ширина полоски прокручування */
}

.categories__container::-webkit-scrollbar-track {
  background: transparent; /* колір зони відстежування*/
}

.categories__container::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* колір бігунка */
  border-radius: 12px; /* радіус бігунка */
}
