.shopping-wrap-desk {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}
.shopping-title {
    color: var(--current-link-color);
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: -1.28px;
    margin-bottom: 120px;
    margin-top: auto;
}
.shopping-title-span {
    color: #4F2EE8;
}
.shopping-text {
    color: var(--txt-shoping-list);
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.28px;
    width: 244px;
    margin: auto;
}
.shopping-wrap-none {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
@media screen and (min-width: 768px) {
    .shopping-wrap-desk {
        max-width: 768px;
        padding: 0 32px;
    }
    .shopping-title {
        font-size: 48px;
        line-height: 1.08;
        letter-spacing: -1.92px;
        margin-bottom: 140px;
    }
    .shopping-text {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.36px;
        width: 349px;
    }
    .shopping-wrap-none {
        gap: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .shopping-wrap-desk {
        min-width: 1060px;
        max-width: 1060px;
        padding: 0 24px 0 0;
    }
    .shopping-wrap {
        margin-left: 40px;
    }

    .shopping-wrap-none {
        margin-left: auto;
        margin-right: auto;
    }
}