.btn-up {
    position: fixed;
    background-color: rgba(79, 46, 232, 1);
    bottom: 25px;
    right: 35px;
    border-radius: 50%;
    border: 5px solid rgb(179, 164, 243);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-icon {
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-up_hide {
    display: none;
}

.btn-up:focus .scroll-icon,
.btn-up:hover .scroll-icon {
    fill: black;
}
.btn-up:hover {
    background-color: #EAC645;
    border-color: #f3de90;
}
