.container-shop-list {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.shop-list-title {
  color: #111;
  line-height: 1.18;
  font-size: 32px;
  letter-spacing: -1.28px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.last-word-shop-list {
  color: #4f2ee8;
}

.books-container-shop-list {
  display: flex;
  width: 335px;
  height: 170px;
  padding: 30px 24px;
  align-items: flex-start;
  gap: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
  position: relative;
}

.img-shop-list {
  width: 100px;
  height: 142px;
  position: absolute;
  left: 14px;
  top: 14px;
  border-radius: 8px;
}

.title-shop-list {
  width: 144px;
  height: 18px;
  position: absolute;
  right: 63px;
  top: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125;
  /* 112.5% */
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.list-name-shop-list {
  position: absolute;
  right: 106px;
  top: 36px;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
  /* 116.667% */
  letter-spacing: 0.36px;
}

.description-shop-list {
  width: 193px;
  height: 68px;
  position: absolute;
  right: 14px;
  bottom: 44px;
  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.286;
  /* 128.571% */
  letter-spacing: -0.56px;
}

.author-shop-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 128px;
  bottom: 14px;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: -0.48px;
}

.links-shop-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  position: absolute;
  right: 14px;
  bottom: 14px;
}

.delete-btn-shop-list {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  right: 14px;
  top: 14px;
}
