.container-shop-list {
  max-width: 375px;
  margin: 0 auto;
  padding: 40px 20px;
}

.shop-list-title {
  color: var(--primary-text-color);
  transition: var(--primary-text-color-transition);
  line-height: 1.18;
  font-size: 32px;
  letter-spacing: -1.28px;
  margin-bottom: 40px;
}

.last-word-shop-list {
  color: #4f2ee8;
}

.books-container-shop-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-card-shop-list {
  display: flex;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: var(--header-bg-color);
  transition: background-color var(--header-bg-color-transition);
  padding: 12px;
  /* gap: 14px; */
  position: relative;
}

.img-shop-list {
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

.right-card-part {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-left: 14px;
}

.title-shop-list {
  color: var(--primary-text-color);
  transition: var(--primary-text-color-transition);
  max-width: 144px;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}

.category-shop-list {
  color: #b4afaf;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  width: 165px;
  height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-shop-list {
  width: 193px;
  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.56px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 68px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: var(--primary-text-color);
  transition: var(--primary-text-color-transition);
}

.card-bottom-shop-list {
  display: flex;
  margin-top: auto;
  align-items: flex-end;
  /* justify-content: space-between; */
}

.author-shop-list {
  width: 129px;
  height: 14px;
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  line-height: 1.167;
  letter-spacing: -0.48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links-shop-list {
  width: 56px;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
  margin-left: auto;
}

.amazon-img-shop-list {
  width: 32px;
  height: 11px;
  margin-right: 8px;
  background: lightgray 0px -0.889px / 100% 105.556% no-repeat;
  mix-blend-mode: luminosity;
  background-color: transparent;
}

.amazon-img-shop-list:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.apple-img-shop-list {
  width: 16px;
  height: 16px;
  background: lightgray 0px -0.889px / 100% 105.556% no-repeat;
  mix-blend-mode: luminosity;
  background-color: transparent;
}

.apple-img-shop-list:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.delete-btn-shop-list {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 28px;
  height: 28px;
  border-radius: 50;
  background-color: #4f2ee8;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-btn-shop-list:hover {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.trash-icon {
  fill: transparent;
  stroke: white;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .container-shop-list {
    max-width: 768px;
    padding: 40px 32px;
  }

  .shop-list-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }

  .book-card-shop-list {
    padding: 22px;
  }

  .img-shop-list {
    width: 116px;
    height: 165px;
  }

  .right-card-part {
    margin-left: 24px;
  }

  .title-shop-list {
    max-width: 458px;
  }

  .category-shop-list {
    margin-bottom: 14px;
    width: 458px;
  }

  .description-shop-list {
    width: 508px;
    height: 53px;
  }

  .card-bottom-shop-list {
    width: 516px;
  }

  .author-shop-list {
    width: 416px;
  }

  .links-shop-list {
    width: 92px;
  }

  .amazon-img-shop-list {
    width: 48px;
    height: 15px;
    margin-right: 16px;
  }

  .apple-img-shop-list {
    width: 28px;
    height: 27px;
  }

  .delete-btn-shop-list {
    right: 24px;
    top: 24px;
    width: 34px;
    height: 34px;
  }

  .trash-icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .container-shop-list {
    max-width: 996px;
    margin: 40px 24px 40px 40px;
    padding: 0;
  }
  .description-shop-list {
    width: 808px;
  }

  .card-bottom-shop-list {
    width: 808px;
  }
}
