/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./default.css');
@import url('./header.css');
@import url('./categories.css');
@import url('./books.css');
@import url('./support.css');
@import url('./empty-shoping-list.css');
@import url('./shopping-list.css');
@import url('./sign-up.css');
@import url('./modal-window.css');
@import url('./books-media.css');
@import url('./scroll-up.css');
@import url('./shopping-list.css');